html,
body {
    height: 100%;
    background-color: darkgray;
    color: #4d4c4c;
}
.cardi{
    background-color:  #273746;
    color: #73c6b6;
}
#tituloInfo{
    display: block;
    background-color: #1c2833;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color:aliceblue;
    text-align: center;
}
img {
    max-width: 100%;
    max-height: 60%;
}
/* cover */
#cover {
    background: #222 url('../img/Depa1.png') center center no-repeat;
    background-size: cover;
    color: white;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-texto {
    width: 100%;
    color: aquamarine;
}

#cover-texto .form-inline{
    width: 100%;
}

.contenido-seccion {
    padding: 5rem 0;
}

#acerca-de {
    background: url('../img/portrait-787522_1920.jpg') center center no-repeat;
    background-size: cover;
}
#card-group{
    background-color: #4d4c4c;
}
.texto-acerca-de {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}